<h1><a href="/">Library Trackr</a></h1>
<nav role="navigation">
    <ul>
        <li><a href="/authenticate">Login</a></li>
        <li><a href="/profile">Profile</a></li>
        <li><a href="/configure-profile">Configure Profile</a></li>
    </ul>
        </nav>
