html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

header,
footer {
    width: 100%;
    height: auto;
    overflow: auto;
    background: #fae1af;
}

footer {
    flex-shrink: 0;
}

main {
    margin: 5% 0;
    flex: 1 0 auto;
}

h1,
footer p {
    color: #000000;
    text-align: center;
}

footer p {
    font-weight: bold;
}

.book-result {
    width: 98px;
    height: 148px;
}
