<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
</head>

<body>
    <header>
        <%- include('../partials/header') %>
    </header>

    <main class="flex-center">
        <form id="booksearch" action="/search" method="post">
            <input type="search" name="book" placeholder="Book Title or Author">
            <button type="submit">
            <i class="las la-search"></i>
            </button>
        </form>

    </main>

    <footer>
        <%- include('../partials/footer') %>
    </footer>

</body>
</html>
