<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
</head>

<body>
    <header>
        <%- include('../partials/header') %>
    </header>

    <main>

        <nav>
            <ul>
                <li><a href="/authenticate">Login</a></li>
                <li><a href="/profile">Profile</a></li>
            </ul>
        </nav>

        <form action="/search" method="post">
            <input type="text" name="book" value="" placeholder="Book Title or Author">
            <input type="submit">
        </form>

    </main>

    <footer>
        <%- include('../partials/footer') %>
    </footer>

</body>
</html>
