<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
</head>

<body>
    <header>
        <%- include('../partials/header') %>
    </header>

    <main>

        <form id="login-form" action='/login-user' method='POST'>
            <input type="text" id="lusername" name="name" placeholder="Username">
            <label for="lusername">Username</label>
            <input type="password" id="lpassword" name="password" placeholder="Password">
            <label for="lpassword">Password</label>
            <input type="submit" value="Login">
        </form>

        <!-- Register Link -->
        <p id="form-text">Not got an account? Sign Up <a href="/register">Here</a></p>

        <!-- Display an error msg here -->
        <p id="error-msg"><%= login_error %></p>
    </main>

    <footer>
        <%- include('../partials/footer') %>
    </footer>

</body>
</html>
